@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/projetos.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root{
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --laranja: #eb9b00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.48%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002f52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza-claro: #858585;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}